@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 100px auto;
    width: 80%;
    background-color: gainsboro;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .header-left {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

header .header-left span img {
    padding: 7px;
    background-color: azure;
    border-radius: 2px;
}

header .header-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header .header-right select {
    border: none;
    outline: none;
    background-color: gainsboro;
}

header .header-right span {
    font-weight: bold;
}

header .header-right input {
    border: none;
    outline: none;
    border-radius: 2px;
}

header .header-right i {
    padding: 7px 9px;
    background-color: azure;
    color: grey;
    border-radius: 2px;
}

section {
    display: flex;
    justify-content: left;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

section .pushpin {
    margin-top: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    align-items: center;
    border-right: 0.5px solid rgb(237, 237, 237);
}
section .pushpin img {
    padding: 8px;
}

section .company {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    border-right: 0.5px solid rgb(237, 237, 237);
}

section .company h2 {
    font-size: 15px;
}

section .company .company-details {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    
}

section .company .company-details div {
    width: 1px;
    height: 13px;
    border-right: 0.5px solid rgb(186, 186, 186);
}

section .company .company-details h4 {
    color: grey;
    font-size: 13px;
    font-weight: 400;
}

section .company .company-details span {
    font-weight: bolder;
    color: black;
}

section .company .company-details p {
    color: rgb(222, 3, 3);
    font-size: 11px;
}

section .advance-details {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

section .advance-details .country {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

section .advance-details .country h2 {
    font-size: 12px;
}

section .advance-details h4 {
    font-size: 12px;
    font-weight: 400;
}

section .advance-details .enquiry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    font-size: 10px;
}
section .advance-details .enquiry div {
    background-color: rgb(110, 180, 6);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
}

section .advance-details .enquiry .not-ordered {
    background-color: rgb(176, 101, 176);
}

section .advance-details .option {
    padding: auto 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section .advance-details select {
    border: none;
    font-size: 13px;
}

section .advance-details .decoration {
    width: 150px;
    height: 10px;
    border-radius: 3px;
    background-color: rgb(237, 237, 237);
}

section .advance-details h4 {
    margin: 5px;
    font-weight: bold;
}

section .advance-details .spend {
    color: grey;
    font-size: 14px;
    font-weight: 400;
}

section .advance-details .percentage {
    color: green;
    font-weight: 400;
    font-size: 12px;
}
section .advance-details .icon {
    display: flex;
    justify-content: space-around;
    gap: 3px;
    margin: 10px;
}

section .advance-details .icon div {
    margin: 5px;
    padding: 1.5px 4px;
    background-color: rgb(185, 185, 185);
    border-radius: 3px;
}

section .advance-details .icon div p {
    font-size: 9px;
    font-weight: 700;
    color: white;
}

section .advance-details .edit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 15px;
    margin-top: 15px;
}



